__pycache__/
.idea/*
.vscode/*
*.pyc
*.pyo

venv/*

# Trained models
training/model/*
!training/model/.gitkeep

# Data folder
!training/data/.gitkeep

# Corpus collected
training/data/corpus/*
!training/data/corpus/.gitkeep

# Dataset generated
training/data/dataset/*
!training/data/dataset/.gitkeep
